<h2>Employee List</h2>

<button mat-raised-button color="primary" (click)="openCreateDialog()">+ Add Employee</button>

<table mat-table [dataSource]="employees" class="mat-elevation-z2" style="width: 100%; margin-top: 20px;">

  <!-- First Name -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First</th>
    <td mat-cell *matCellDef="let emp">{{ emp.firstName }}</td>
  </ng-container>

  <!-- Last Name -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last</th>
    <td mat-cell *matCellDef="let emp">{{ emp.lastName }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let emp">{{ emp.phone }}</td>
  </ng-container>
  <ng-container matColumnDef="departmentName">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let emp">{{ emp.departmentName }}</td>
  </ng-container>
  <ng-container matColumnDef="designationName">
    <th mat-header-cell *matHeaderCellDef>Designation</th>
    <td mat-cell *matCellDef="let emp">{{ emp.designationName }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef>Actions</th>
  <td mat-cell *matCellDef="let emp">
    <ng-container *ngIf="emp.departmentName !== 'Admin'; else noActions">
      <button mat-icon-button color="primary" (click)="openEditDialog(emp.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteEmployee(emp.id.toString())">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
    <ng-template #noActions>
      <span style="color: gray; font-style: italic;">Restricted</span>
    </ng-template>
  </td>
</ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
