<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/employee/details">Personal Information</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/dashboard/employee/list">Manage Employee</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Top Toolbar -->
      <mat-toolbar color="primary" class="top-toolbar">
        <span class="title">Dashboard</span>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">Logout</button>
      </mat-toolbar>
  
      <!-- Main content area -->
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  